/* Custom Stylesheet */
body {
    background: #F8F9FA;
}
.MuiBottomNavigationAction-root.Mui-selected {
    color: #3f51b5;
    padding-top: 6px;
    border-bottom: 2px solid #3f51b5;
}

button:focus {
    outline: none;
    background-color: #fafafa;
}
.MuiBottomNavigation-root {
    justify-content: left;
}

.MuiBottomNavigationAction-wrapper {
    flex-direction: row;
}

.MuiSvgIcon-root {
    margin-right: 10px;
}



.MuiGrid-spacing-xs-3 .fix-center-row{
    max-width: 80%;
    margin: auto;
}
.MuiPaper-rounded {
    border-radius: 15px;
}
.MuiBottomNavigationAction-label.MuiBottomNavigationAction-iconOnly {
    opacity: 1;
    transition-delay: 0s;
}
.MuiBottomNavigationAction-label {
    font-size: 0.85rem;
}
.MuiBottomNavigationAction-root.MuiBottomNavigationAction-iconOnly {
    padding-top: 6px;
}
.MuiBottomNavigation-root {
    margin-bottom: 30px;
}

p {
    line-height: 1.5;
    text-align: center;
}
.MuiTablePagination-root:last-child, tr.MuiTableRow-root.MuiTableRow-footer {

    border-bottom: 0px !important;

}
